<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Author:  Voltaire Bazurto Blacio</p>
    <p>Version: 1.0</p>

    <h3>List of endpoints<h3>
      <ul>
        <li><a href="/api/random-genes">10 Random Genes JSON endpoint</a></li>
      </ul>
  </body>
</html>
